PORT=3000
FRONTEND_URL=http://localhost:5173

DATABASE_URL=paste_your_railway_postgres_url_here
REDIS_URL=paste_your_railway_redis_url_here

JWT_SECRET=smartlocker_super_secret_2024_changeme
JWT_EXPIRES_IN=8h

OTP_EXPIRY_SECONDS=300
OTP_DELIVERY=console
